[Unit]
Description=V4L2NDI service
After=network.target

[Service]
ExecStart=/etc/v4l2ndi/V4L2NDI-Control
Type=exec
Restart=always

[Install]
WantedBy=multi-user.target
